@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

h1 {
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    font-weight: 800;
    color: #0ccac4;
}
